body {
  text-align: center;
  background: url(pixelartgame.png) center center no-repeat fixed; 
  background-size: cover;
}

.color {
  border: solid black 1px;
  height: 70px;
  width: 70px;
  display: inline-block;

}

.pixel {
  border: solid black 1px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: white;
  
}

#pixel-board {
  line-height: 0;
}

#black{
  background-color: black;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

.inlineBlock {
  display: inline-block;
  padding: 10px;
}

